.main-content {
    margin-top: 15%;
}

.login-row {
    min-height: 50%;
    background-color: blue;
}

article > div:last-of-type {
    background: #f2e917;
}

.postit {
    background: #64AB71;
    min-height: 200px;
    max-width: 300px;
    min-width: 250px;
    padding: 30px;
    margin: 20px 20px 20px 0;
    box-shadow: 0 10px 10px 2px rgba(0,0,0,0.3);
}

.postit p {
    text-align: center;
    vertical-align: middle;
    font-size: large;
}

.postit div:first-of-type {
    margin: 20px 75px;

}

textarea.estatico {
    background-color: transparent;
    border: 0 transparent;
    max-width: 200px;
    width: 250px;
    resize: none;
    text-align: center;
    -moz-text-align-last: center; /* Firefox 12+ */
    text-align-last: center;
}

textarea.editavel {
    border-radius: 5%;
    background-color: transparent;
    border: 0 transparent;
    max-width: 200px;
    width: 250px;
    height: 200px;
    resize: vertical;
    margin-bottom: 25px;
}
