<article class="col-md-10 col-md-offset-1" ng-controller="postitController" ng-init="getAllPostits()">
    <div class="row">
        <h1 class="col-md-10">Suas anotações</h1>
        <button class="col-md-1 btn btn-danger btn-center" ng-click="logout()">Logout</button>
    </div>
    <div class="postit col-md-3" ng-repeat="p in postits">
        <div>
            <button class="btn btn-danger" type="button" ng-click="deletePostit($index, p.id)">
                <i class="glyphicon glyphicon-trash"></i>
            </button>
            <button class="btn btn-primary" type="button" ng-click="editPostit(p)">
                <i class="glyphicon" ng-class="{'glyphicon-remove' : p.isEditing, 'glyphicon-pencil' : !p.isEditing}"></i>
            </button>
        </div>
        <div class="row">
            <p ng-if="!p.isEditing">{{p.texto}}</p>
            <form method="post" ng-submit="saveEdition(p)" ng-if="p.isEditing">
                <textarea id="" class="center-block editavel" resize-textarea placeholder="Digite sua anotação" ng-model="p.textoEditado">{{p.texto}}</textarea>
                <button class="btn btn-success center-block" type="submit" ladda="creatingPostit" data-style="expand-right">Salvar</button>
            </form>
        </div>
    </div>
    <div class="postit col-md-3">
        <div>

        </div>
        <div class="row">
            <form method="post" ng-submit="createNewPostit()">
                <textarea id="novoPostit" class="center-block editavel" resize-textarea placeholder="Digite sua anotação" ng-model="postit_text"></textarea>
                <button class="btn btn-success center-block" type="submit" ladda="creatingPostit" data-style="expand-right">
                    <i class="glyphicon glyphicon-ok"></i>
                </button>
            </form>
        </div>
    </div>

</article>

