<!DOCTYPE html>
<html lang="en" ng-app="postit-login">
<head>
    <meta charset="UTF-8">
    <title>PostIt - Herakles</title>

    <link href="../node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="../node_modules/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet">
    <link rel="stylesheet" href="../node_modules/ladda/dist/ladda-themeless.min.css">
    <link href="../css/style.css" rel="stylesheet">
</head>
<body>

<session class="container main-content" ng-controller="applicationContoller">
    <ng-include ng-if="!isLoggedIn" src="'login.html'" ></ng-include >
    <ng-include ng-if="isLoggedIn" src="'postit.html'" ></ng-include >
</session>

<script src="../node_modules/angular/angular.min.js"></script>
<script src="../node_modules/ladda/dist/spin.min.js"></script>
<script src="../node_modules/ladda/dist/ladda.min.js"></script>
<script src="../node_modules/ngstorage/ngStorage.min.js"></script>
<script src="../node_modules/angular-ladda/dist/angular-ladda.min.js"></script>
<script src="../js/angular-controllers/angular-controllers.js"></script>

</body>
</html>