<!--<!DOCTYPE html>-->
<!--<html lang="en" ng-app="postit-login">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>PostIt - Herakles</title>-->

    <!--<link href="../node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">-->
    <!--<link href="../node_modules/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet">-->
    <!--<link rel="stylesheet" href="../node_modules/ladda/dist/ladda-themeless.min.css">-->
    <!--<link href="../css/style.css" rel="stylesheet">-->
<!--</head>-->
<!--<body>-->

<session class="container main-content">
    <form></form>
    <article class="col-md-10 col-md-offset-1" ng-controller="postitController">
        <div class="postit col-md-3" ng-repeat="p in postits">
            <div>
                <button class="btn btn-danger" type="button" ng-click="deletePostit($index)">
                    <i class="glyphicon glyphicon-trash"></i>
                </button>
                <button class="btn btn-primary" type="button">
                    <i class="glyphicon glyphicon-pencil"></i>
                </button>
            </div>
            <div class="row">
                <textarea class="center-block" resize-textarea>{{p.texto}}</textarea>
            </div>
        </div>
    </article>
</session>

<!--<script src="../node_modules/angular/angular.min.js"></script>-->
<!--<script src="../node_modules/ladda/dist/spin.min.js"></script>-->
<!--<script src="../node_modules/ladda/dist/ladda.min.js"></script>-->
<!--<script src="../node_modules/ngstorage/ngStorage.min.js"></script>-->
<!--<script src="../node_modules/angular-ladda/dist/angular-ladda.min.js"></script>-->
<!--<script src="../js/angular-controllers/angular-controllers.js"></script>-->

<!--</body>-->
<!--</html>-->